/* Your custom styles */
.space-10{
    height: 10px;
}
.space-20{
    height: 20px;
}
.space-30{
    height: 30px;
}
.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}
.space-60{
    height: 60px;
}
.space-70{
    height: 70px;
}
.space-80{
    height: 80px;
}
.space-90{
    height: 90px;
}
.space-100{
    height: 100px;
}
/* body{
    color: aliceblue;
} */

.test{
    border: 1px solid red;
}
.btn-file {
	position: relative;
	overflow: hidden;
    vertical-align: middle;
    border-radius: 0 6px 6px 0;
}
.btn-file > input {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 23px;
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
    direction: ltr;
    border-radius: 0 6px 6px 0;
}
.btn.btn-round {
	border-radius: 30px;
}
.btn-link-2{
    background-color: transparent;
}
.btn.btn-fab.btn-round,
.btn.btn-just-icon.btn-round {
	border-radius: 50%;
}
.v-icon--left {
    margin-right: 8px;
  }

