* {
  margin: 0;
  padding: 0;
}

#pdf-view .top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
}

/* #pdf-view .btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

#pdf-view .btn:hover {
  opacity: 0.9;
} */
#pdf-view {

}
#pdf-view a{
    font-size: 20px;
    padding: 0 50px;
}
#pdf-view span{
    /* font-size: 20px; */
    margin-top: 3px;
    padding: 0 8px;
}

#pdf-view .page-info {
  margin-left: 1rem;
}

#pdf-view .error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
